@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@custom-variant dark (&:where(.dark, .dark *));





@theme {

    --color-dark-gray: #3b3b3b;
    --color-brown: #a78262;

    --font-head: 'Poppins', 'sans-serif';
    --font-body: 'Poppins', 'sans-serif';
    --font-sp: 'Beautifully Delicious Script';
}

@font-face {
  font-family: 'Beautifully Delicious Script';
  src: url('/BDScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}